body
{
   background-color: #aaffff;
}

.outer_body
{
   margin-left: 10px;
   margin-top:  10px;
   background-color: #ffffff;
}

.menu_left
{
   width: 30%;
   float: left;
   background-color: #aaaaff;
   color: #ffffff;
}

.body_right
{
   width: 70%;
   float: right;
   background-color: #ffaaaa;
   color: #111155;
}
